<!DOCTYPE html>
<html data-ng-app="rssFeed">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="src/sass-bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body style="overflow-y: hidden">
<div class="row" ui-view>
</div>
</body>
<script type="application/javascript" src="src/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="src/sass-bootstrap/dist/js/bootstrap.min.js"></script>
<script type="application/javascript" src="src/angular/angular.js"></script>
<script type="application/javascript" src="javascripts/app.js"></script>
<script type="application/javascript" src="javascripts/services.js"></script>
<script type="application/javascript" src="javascripts/controllers.js"></script>
<script type="application/javascript" src="src/angular-route/angular-route.min.js"></script>
<script type="application/javascript" src="src/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="application/javascript" src="src/angular-animate/angular-animate.js"></script>

</html>